In [ ]:
import pandas as pd
import numpy as np
from pydataset import data

In [ ]:
df = data('airquality')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.head(2)

# T1.Inspect the structure

### Show the shape (rows, columns)

In [ ]:
df.shape

In [ ]:
# List column names and dtypes

In [ ]:
df.columns

In [ ]:
#clm data types

In [ ]:
df.dtypes

# Display the first 5 and last 5 rows

In [ ]:
df.head()

In [ ]:
df.tail()

# info summary

In [ ]:
df.info()

# T2.Basic summary stats

## Produce descriptive statistics for numeric columns.

In [ ]:
df.describe()

## For each column, show number of unique values

In [ ]:
df.nunique()

# T3. Missing values
## Count missing values per column.

In [ ]:
df.isna().sum()

## Create a copy df_mv where you impute:
 ### Ozone: fill with the column median (numeric)
 ### Solar.R: fill with the column mean (numeric)

In [ ]:
df.copy()

In [ ]:
df.copy().fillna(df.median())

# T4. Selecting columns & rows
  ### Select the columns: Ozone, Solar.R, Temp into a new DataFrame df_sel.
  
.

In [ ]:
slc_clm=['Ozone', 'Solar.R', 'Temp']
df_sel=df[slc_clm].copy()
df_sel

### Select the first 10 rows of df_sel.

In [ ]:
df_sel.head(10)

### Select rows where Month is May (5) or June (6) only.

In [ ]:
df

In [ ]:
df_selmont= df[df['Month'].isin([5,6])]
df_selmont

#T5. Filtering & conditions
##Filter rows where Ozone > 100 and Temp >= 85.

In [ ]:
df[df['Ozone']>100]

##Filter rows where Solar.R is missing.

In [ ]:
df[df['Solar.R'].isnull()]

##Filter rows for July (7) with Ozone between 50 and 100 (inclusive).

In [ ]:
df[(df['Month']==7) &
   (df['Ozone']>=50) &
   (df['Ozone']<=100)]

# T6. Sorting
## Sort the dataset by Ozone descending and Temp ascending (multi-column sort).

In [ ]:
df.sort_values(by=['Ozone', 'Temp'],ascending=[False,True])

## Sort the dataset by Month then Day to get chronological order

In [ ]:
df.sort_values(by=['Month', 'Day'],ascending=[True,True])

# T7 Duplicates
## Check if there are any fully duplicated rows.

In [ ]:
df.duplicated()

In [ ]:
df.duplicated().any()

In [ ]:
## Intentionally create a few duplicate rows (e.g., duplicate first 3 rows) into df_dup.

In [ ]:
df

In [ ]:
first_3_row = df.iloc[:3]
df_dup=pd.concat([first_3_row, df], ignore_index=True)
print ("df with duplicated first 3 rows:")
print(df_dup)

## Remove duplicates and report how many were removed.

In [ ]:
beg_rows=len(df_dup)
beg_rows

In [ ]:
df_clean= df_dup.drop_duplicates()
df_clean

In [ ]:
finl_rows=len(df_clean)
finl_rows

In [ ]:
row_removed= beg_rows - finl_rows
row_removed

In [ ]:
df

# T8. Derived columns
## Create a new column Temp_C converting Fahrenheit to Celsius.

In [ ]:
df['Temp_C'] = (df[ 'Temp']-32)* 5/9
df

## Flag a new boolean column High_Ozone where Ozone > 100.

In [ ]:
df['High_ozone']=df['Ozone']>100
df

## Create a categorical column Temp_Band with labels: Cool (<75F), Warm (75–85F), Hot (>85F).
## Hints: vectorized arithmetic, pd.cut()

In [ ]:
bins=[0,75,85,np.inf]
labels=['Cool','Warm','Hot']
df['Temp_Band'] = pd.cut(df['Temp'],bins=bins, labels=labels,right=True)
df

# T9. Groupby & aggregation
## Group by Month and compute mean Ozone, median Solar.R, and max Temp.

In [ ]:

monthly_group = df.groupby(df.Month).agg(
    mean_ozn=('Ozone','mean'),
    median_solar = ('Solar.R', 'median'),
    max_temp = ('Temp','max')
)
print(monthly_group)

## Within each Month, count how many days have Ozone > 80.
## Hints: groupby(), agg({...}), Boolean to int conversion or np.sum()

In [ ]:
df_filt = df[df['Ozone']>80].copy()
monthly_count = df_filt.groupby('Month').size()
monthly_count
#print (monthly_count)

# T10.(Stretch) Quick sanity plots *(optional)*
## If permitted, create two simple charts to visualize patterns:
# **Hints:** `matplotlib` basic plotting

In [ ]:
import matplotlib.pyplot as plt
df.plot()

In [ ]:
df.hist()

## Histogram of `Ozone` (after imputation, using `df_mv` if you created it).

In [ ]:
df['Ozone'].hist()

## Line plot of `Temp` across days for **August (8)** ordered by Day.

In [ ]:
df['Temp'].plot(kind='line')