# Import and Export : MySQL - Python

## MySQL - Import

In [17]:
#pip install pymysql
#!pip install mysqlclient

In [1]:
#libraries
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import os

In [2]:
print(pymysql.__version__)

1.4.6

In [18]:
F1 = '/Users/du/dup/analytics/data/'
print(sorted(os.listdir(F1)))

['.DS_Store', 'Country_Codes_and_Names.xlsx', 'HRDataset_v14.csv', 'MFGEmployees4.csv', 'Real_Estate_Sales_2001-2023_GL.csv', 'VLOOKUP and HLOOKUP.xlsx', 'WA_Fn-UseC_-HR-Employee-Attrition.csv', 'archive.zip', 'attrition.zip', 'attritionData.csv', 'dataset_2025-08-16T11_40_29.251665198Z_DEFAULT_INTEGRATION_IMF.STA_QGDP_WCA_3.0.0.csv', 'deceptive-opinion.csv', 'hrClustering.csv', 'hrdataset.zip', 'mtcars.csv', 'pdftable.pdf', 'sales_forecasting_data.xlsx', 'stateCodes.csv', 'students1.csv', 'studentsX1.csv', 'studentsX2.xlsx', 'students_export.csv', 'subjectARdata.csv']

In [19]:
folder1 = '/Users/du/dup/analytics/data/'
file1 = "students1.csv"

# Join folder and file name
file_path = os.path.join(folder1, file1)

if os.path.isfile(file_path):
    print(f"✅ File exists: {file_path}")
else:
    print(f"❌ File not found in {folder_path}")

✅ File exists: /Users/du/dup/analytics/data/students1.csv

In [20]:
print(file_path)

/Users/du/dup/analytics/data/students1.csv

In [21]:
df = pd.read_csv(file_path)
df.shape

(30, 6)

In [22]:
df.head()

,id,name,branch,score,exam_date,remarks
0,1,Rick Johnson,Mechanical,63.68,2025-03-30,Average
1,2,Shannon Hall,Electrical,74.35,2024-03-28,Outstanding
2,3,Stephanie Flores,Computer Science,88.97,2024-05-17,Average
3,4,Keith Ferrell,Civil,75.00,2025-06-22,Average
4,5,Corey Allen,Computer Science,63.14,2025-05-17,Needs Improvement

In [23]:
df.dtypes  # dates type NA

id             int64
name          object
branch        object
score        float64
exam_date     object
remarks       object
dtype: object

In [24]:
df['exam_date'] = pd. to_datetime(df['exam_date'], dayfirst=False, errors='coerce')
df.dtypes

id                    int64
name                 object
branch               object
score               float64
exam_date    datetime64[ns]
remarks              object
dtype: object

In [30]:
#user-piuser, pwd-Pass#123, yourdb - students
#engine = create_engine('mysql+pymysql://piuser:Pass#123@localhost:3306/piit')
engine1 = create_engine("mysql+pymysql://piuser:Pass%40123@localhost:3306/piit")
engine1

Engine(mysql+pymysql://piuser:***@localhost:3306/piit)

In [31]:
conn = engine1.connect()
print(conn)

<sqlalchemy.engine.base.Connection object at 0x13c3782c0>

In [38]:
pd.read_sql('SHOW DATABASES;', engine1)

             Database
0          GSTBILLING
1  information_schema
2               mysql
3  performance_schema
4                piit
5                 sys

In [26]:
# check
#pd.read_sql('SHOW DATABASES;', engine)

In [33]:
pd.read_sql('SHOW TABLES;', engine1)

       Tables_in_piit
0           employees
1         math_scores
2               sales
3      student_scores
4      student_totals
5            students
6  subject_avg_scores

In [36]:
df.to_sql('students', engine1, if_exists='append', index=False, chunksize=1000, method='multi')

30

             Database
0          GSTBILLING
1  information_schema
2               mysql
3  performance_schema
4                piit
5                 sys

In [ ]:
 # Students from csv imported in mysql database as students table

## Export from MySQL to csv/excel

In [20]:
# libraries
import pandas as pd
import pymysql
from sqlalchemy import create_engine
import os

In [21]:
# Engine - piuser#123
engine = create_engine('mysql+pymysql://piuser:Pass%23123@localhost:3306/piit')
print(engine)

Engine(mysql+pymysql://piuser:***@localhost:3306/piit)

In [22]:
df2 = pd.read_sql("SELECT * FROM students", engine)
df2.shape

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'piuser'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [23]:
df2.head(2)

NameError: name 'df2' is not defined

In [24]:
csvfile = '/Users/du/dup/analytics/data/studentsX1.csv'
xlsfile =  '/Users/du/dup/analytics/data/studentsX2.xlsx'

In [25]:
print(os.listdir('/Users/du/dup/analytics/data'))

['studentsX1.csv', 'MFGEmployees4.csv', '.DS_Store', 'students1.csv', 'pdftable.pdf', 'attritionData.csv', 'WA_Fn-UseC_-HR-Employee-Attrition.csv', 'sales_forecasting_data.xlsx', 'hrClustering.csv', 'stateCodes.csv', 'studentsX2.xlsx', 'mtcars.csv', 'VLOOKUP and HLOOKUP.xlsx', 'archive.zip', 'attrition.zip', 'students_export.csv', 'HRDataset_v14.csv', 'hrdataset.zip', 'deceptive-opinion.csv', 'subjectARdata.csv']

In [26]:
df2.to_csv(csvfile, index=False)

NameError: name 'df2' is not defined

In [27]:
df2.to_excel(xlsfile, index=False)

NameError: name 'df2' is not defined

In [28]:
print(sorted(os.listdir('/Users/du/dup/analytics/data'), key=str.lower))

['.DS_Store', 'archive.zip', 'attrition.zip', 'attritionData.csv', 'deceptive-opinion.csv', 'hrClustering.csv', 'hrdataset.zip', 'HRDataset_v14.csv', 'MFGEmployees4.csv', 'mtcars.csv', 'pdftable.pdf', 'sales_forecasting_data.xlsx', 'stateCodes.csv', 'students1.csv', 'students_export.csv', 'studentsX1.csv', 'studentsX2.xlsx', 'subjectARdata.csv', 'VLOOKUP and HLOOKUP.xlsx', 'WA_Fn-UseC_-HR-Employee-Attrition.csv']

In [29]:
# import data and check
df2b = pd.read_csv(csvfile)
df2b.shape

(30, 6)

In [30]:
df2c = pd.read_excel(xlsfile)
df2c.shape

(30, 6)