In [1]:
# Install SQL with Python

In [3]:
#pip install ipython-sql sqlalchemy

In [1]:
%load_ext sql

In [2]:
%sql sqlite:///my_database.db

In [6]:
%%sql
SELECT * FROM customers LIMIT 5;

 * sqlite:///my_database.db
(sqlite3.OperationalError) no such table: customers
[SQL: SELECT * FROM customers LIMIT 5;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [7]:
%sql sqlite://

In [9]:
%%sql
CREATE TABLE books (id INTEGER PRIMARY KEY, title TEXT, author TEXT);
INSERT INTO books (title, author) VALUES ('1984', 'George Orwell');

 * sqlite:///my_database.db
(sqlite3.OperationalError) table books already exists
[SQL: CREATE TABLE books (id INTEGER PRIMARY KEY, title TEXT, author TEXT);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [12]:
show tables

SyntaxError: invalid syntax (3634957503.py, line 1)