In [1]:
# SQL Lite - mac

In [2]:
import pandas as pd

In [3]:
import sqlite3

In [4]:
# Connect to a database file (or create it)
conn = sqlite3.connect("piit.db")

In [5]:
# Create a cursor object
cursor = conn.cursor()

In [6]:
# Create a table
cursor.execute("""
CREATE TABLE IF NOT EXISTS students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    fee REAL
);
""")

In [7]:
cursor.execute('tables')

OperationalError: near "tables": syntax error

In [67]:
# Insert data
cursor.execute("INSERT INTO students (name, fee) VALUES (?, ?)", ("Suroor", 5000))
cursor.execute("INSERT INTO students (name, fee) VALUES (?, ?)", ("Mandal", 6000))
#

OperationalError: table students has no column named fee

In [51]:
# Commit changes
conn.commit()

In [52]:
# Query data
cursor.execute("SELECT * FROM employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Alice', 70000.0)
(2, 'Bob', 65000.0)
(3, 'Suroor', 70000.0)
(4, 'Manda', 65000.0)

In [53]:
# Close connection
conn.close()

## Use SQLite in Jupyter Notebooks

In [54]:
#pip install ipython-sql

%%sql
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    salary REAL
);

In [56]:
%load_ext sql
%sql sqlite:///piit.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [57]:
%sql

   sqlite:///example.db
 * sqlite:///piit.db

In [58]:
%%sql
SELECT * FROM employees;

   sqlite:///example.db
 * sqlite:///piit.db
Done.

KeyError: 'DEFAULT'